html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.fondo {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.jumbotron {
	margin: 0;
	padding: 0;
}
/*Logo Index and Thanks page */
.logo {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 0;
}

.form-group {
	color: white;
	font-weight: bold;
}

.fecha {
	padding: 5px;
	width: 200px;
}
.turn {
	width: 200px;
}

/*Thanks page */
.card {
	border-color: transparent;
	background-color: transparent;
	margin-top: 20px;
}
h5, .card-text {
	color: white;
}