html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.fondo {
	position: fixed;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.form-group {
	color: white;
	font-weight: bold;
}
